:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #fafbfc;
}

main {
  padding: 1rem;
  margin: auto;
  max-width: 960px;
}

header {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;

  border-bottom: 1px solid lightgray;
}

header img {
  width: 2rem;
}

header ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

header li {
  margin-right: 1rem;
}

header a:link,
header a:visited {
  text-decoration: none;
  color: rgb(88, 96, 105);
  font-weight: 400;
  font-size: 0.8rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

article figure {
  margin: 0;
}

article figure img {
  border: 1px solid lightgray;
  border-radius: 2%;
  display: block;
  width: 100%;
  height: auto;
}

article ul {
  margin: 0.5rem 0 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

article ul img {
  border-radius: 50%;
}

article a:link,
article a:visited {
  text-decoration: none;
  color: rgb(88, 96, 105);
  font-weight: 400;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fefefe;
  opacity: 0.9;
}

footer {
  border-top: 1px solid lightgrey;
  margin: 2rem;
}
